::-webkit-scrollbar { display: none; }


:root{
    --padding : 5px;
    --margin : 5px;
}

body {
    /* background-color : #171b26; */
    background-color : #393d48;
    color : white;
    margin : var(--margin);
}

img {
    height : 200px;
}

button {
    margin: var(--margin);
}

/* text tags */

h1, h2, h3, p, li{
    text-transform: uppercase;
    text-align: center;

}

h1, h2, h3 {
}

h1 {
    font-size : 40px;
    letter-spacing: 5px;
}

h2 {
    font-size : 30px;
}

h3, p{
    font-size : 15px;
}

p a {
    color : red;
    text-decoration: none;
}

/* nav bar */

nav {
    grid-area: nav;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    min-height: 8vh;
}

nav ul li {
    list-style: none;
}

nav ul {
    display: flex;
    justify-content: space-around;
    width: 15%;
}

li a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 12px;
    padding: 12px 8px;
}

li a:hover {

}

/* main */

.container {
    display:grid;
    height:98vh; /* keeps annoying scroll bar out of the way */
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
    grid-template-rows: 0.4fr 1.5fr 1.5fr 0.1fr;
    grid-template-areas:
        ". nav nav ."
        ". main main ."
        ". main main ."
        ". footer footer .";

    grid-gap:0.2rem;
    font-family:"Inter", sans-serif;
    font-weight: 800;
}

main{
    display: grid;
    grid-area: main;
    grid-template-columns:  1fr 1fr ;
    grid-template-rows:  .15fr 1.5fr;

    grid-template-areas:
        "desc desc"
        "content-left content-right";

    grid-gap:0.2rem;
    font-family:"Inter", sans-serif;
}



div {
    padding : 5px;
}


.desc{
    grid-area: desc;
    text-align: center;
}

.content-left{ grid-area: content-left; }
.content-right{ grid-area: content-right; }

.content-center {
    overflow: auto;
    max-height: 800px;
    padding : 5px;
    grid-area: content-left / content-left / content-left / content-right;
}

.section-header{
    font-size: 20px;
    text-align: center;

    margin : 5px;
}


.section-body{
    margin : 5px;
    align-items: center;
}

footer {
    text-align: center;
    grid-area: footer;
}
