:root{
    --root-radius:5px;
    --root-padding:5px;
}

.container {
    display:grid;
    height:98vh; /* keeps annoying scroll bar out of the way */
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
    grid-template-rows: 0.2fr 1.5fr 1.5fr 0.1fr;
    grid-template-areas:
        "sidebar-left nav nav sidebar-right"
        "sidebar-left main main sidebar-right"
        "sidebar-left main main sidebar-right"
        "sidebar-left footer footer sidebar-right";
    grid-gap:0.2rem;
    font-family:"Inter", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size:12px;
    color:#e3e3e3;
}

main{
    display: grid;
    grid-area: main;
    grid-template-columns:  1fr 1fr ;
    grid-template-rows:  .15fr 1.5fr;

    grid-template-areas:
        "desc desc"
        "content-left content-right";

    grid-gap:0.2rem;
    font-family:"Inter", sans-serif;
    text-transform: uppercase;
    font-size:12px;
    color:#e3e3e3;
}

nav{
    background: #484848;
    grid-area: nav;
    border-radius:var(--root-radius);
    padding-top:var(--root-padding);
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 15%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 12px;
    padding: 12px 14px;
}

.nav-links li a:hover {
    background-color: grey;
}

.heading{
    color:white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.desc{
    background: lightgrey;
    color: black;
    grid-area: desc;
    text-align: center;
    font-size: 15px;
    border-radius:var(--root-radius);
    padding-top:var(--root-padding);
}

.sidebar-left{
    background: white;
    grid-area: sidebar-left;
    border-radius:var(--root-radius);
    padding-top:var(--root-padding);
}

.sidebar-right{
    background: white;
    grid-area: sidebar-right;
    border-radius:var(--root-radius);
    padding-top:var(--root-padding);
}

.content-left{
    background: lightgrey;
    padding : 5px;
    grid-area: content-left;
    border-radius:var(--root-radius);
    padding-top:var(--root-padding);

}

.content-right{
    background: lightgrey;
    padding : 5px;
    grid-area: content-right;
    border-radius:var(--root-radius);
    padding-top:var(--root-padding);

}

.content-center {
    background: lightgrey;
    color : black;
    padding : 5px;
    grid-area: content-left / content-left / content-left / content-right;
    border-radius:var(--root-radius);
    padding-top:var(--root-padding);
}

.section-header{
    background: #484848;
    font-size: 20px;
    color: white;
    text-align: center;
    border-radius:var(--root-radius);
    padding-top:var(--root-padding);
    margin : 5px;
}


.section-body{
    border-radius:var(--root-radius);
    padding-top:var(--root-padding);
    margin : 5px;
    align-items: center;

}

p {
    color: black;
    font-size : 15px;
    border-radius:var(--root-radius);
    padding-top:var(--root-padding);
    text-align: center;

}
footer {
    background: lightgrey;
    text-align: center;
    grid-area: footer;
    color: black;
    border-radius:var(--root-radius);
    padding-top:var(--root-padding);
}

@media only screen and (max-width:550px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 0.2fr 1fr 1.5fr 1.5fr 0.2fr 0.5fr;
        grid-template-areas:
        "nav"
        "sidebar-left"
        "desc"
        "graph1"
        "graph2"
        "sidebar-right"
        "footer";
    }
}
