body {
width: 100%;
margin: auto;
background: #fff; /* 4b5320; */
font-size: 16px;
font-family: "Times New Roman", Georgia, Serif;
}

h3 {
    font-size: 1.75em;
}
header {
    border-bottom: 1px solid #dedede;
}
header p {
    font-size: 1.25em;
    font-style: italic;
}
footer p {
    font-size: 0.8em;
}


h5 {
    font-size: 1.25em;
    margin: 10px 0 10px 0;
}

main {
    overflow: auto;
    padding: 15px 0 15px 0;
}

footer {
    margin-top: 5px;
    border-top: 1px solid #dedede;
}


.note-output p {
    border: 1px solid #fff;
}

.note-output p:nth-child(even) {
    background-color: #ccc;
}
.note-output p:nth-child(odd) {
    background-color: #eee;
}

.note-controls {
    margin: 10px 0 10px 0;
    padding: 2px;
    border-bottom: 1px
}

.note-output p:hover {
    border: 1px solid #1a3852;
    background-color: #fdd;
}

/* borrowed from W3 schools ... */
/* https://www.w3schools.com/css/css_navbar_horizontal.asp */

/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

    position: fixed;
    top: 0;
    width: 100%;

}
 */

div {
  float: left;
  border-right : 1px solid #bbb;

}

div a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

div a:hover {
  background-color: #111;
}

/* end borrow */


.grid-header {
    display: grid;
    grid-gap: 5px 5px;

    grid-template-rows: 1;
    grid-template-columns: 10% repeat(4, 1fr) 10%;
}

.grid-container {
    grid-template-rows: auto;
    grid-template-columns: 10% repeat(4, 1fr) 10%;
}

.grid-buffer-a {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
}

.grid-buffer-b {
    grid-column-start: 6;
    grid-column-end: 7;
}
.grid-item {}

.grid-nav {
    grid-area: 2 1 6 2;
}

.blue {
  background: blue;
}

.grey {
    background: grey;
}
.white {
    background: white;
}
.black {
    background: black;
}

.grey {
    background: grey
}

.black {
    background: black
}


